[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

# jupyter = "==1.*"  # Jupyter is already installed in Docker base image
RISE = "==5.*"

"beautifulsoup4" = "==4.*"
"Jinja2" = "==2.*"
peewee = "==3.*"
PyYAML = "==5.*"
requests = "==2.*"

# requirements for https://github.com/tomasbedrich/skoleni-python-knihovny
Flask = "==1.*"
matplotlib = "==3.*"
pyzmq = "==22.*"
click = "==7.*"


[dev-packages]

